<div id="<%= dom_id inventory %>">
  <p>
    <strong>Name:</strong>
    <%= inventory.name %>
  </p>

  <p>
    
    <%= inventory.description ? inventory.description : 'No description available' %>
  </p>

</div>
