<div id="<%= dom_id inventory %>">
  <div class="inventory-item-header">
    <p>
      <strong> <h3> <%= inventory.name %> </h3> </strong>
    
    </p>
  </div>

  <p>
    <%= inventory.description ? inventory.description : 'No description available' %>
  </p>
</div>
