<%= stylesheet_link_tag 'recipes_index'%>

<div class="recipes">
  <% @recipes.each do |recipe| %>
  <div class="recipe">
    <h2>Recipe <%= recipe.id %> </h2>
    <p><%= recipe.text%></p>
  </div>
  <% end %>
</div>







