<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Generating Shopping List</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

      <!-- Dropdown Button -->
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Inventories
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          -# Render the form to select inventory
          = form_tag(recipe_shopping_list_inventory_path, method: :get, class: "dropdown-item") do
            %label
            Select an inventory:
            -# Dropdown to show inventory list
            = select_tag(:inventory_id, options_for_select(@inventories.map { |inventory| [inventory.name, inventory.id] }), prompt: 'Select inventory', class: "form-control")
            %br
            -# Button to submit the form
            = submit_tag('Generate Shopping List', class: "btn btn-primary")
          %br
        </div>
      </div>
      
             
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="customCloseButton">Close</button>
        <button type="button" class="btn btn-primary" id="customSaveButton">Save changes</button >
      </div>
    </div>
  </div>
</div>

<script>
  // Detener la propagación del evento cuando se hace clic en el menú desplegable
  document.querySelector('.dropdown-menu').addEventListener('click', function (event) {
    event.stopPropagation();
  });

  document.getElementById('customCloseButton').addEventListener('click', function () {
    // Código adicional si es necesario antes de cerrar el modal
    $('#exampleModal').modal('hide');
  });

  document.getElementById('customSaveButton').addEventListener('click', function () {
    // Código adicional si es necesario antes de cerrar el modal
    $('#exampleModal').modal('hide');
  });
</script>
