<h1>List Foods</h1>

<div id="foods">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Measurement unit</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <%= render food %>
        <p>
          <%= button_to "Destroy this food", food, method: :delete %>
        </p>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New food", new_food_path %>
