<h1>List Foods</h1>

<div id="foods">
  <table>
    <tbody>
      <% @foods.each do |food| %>
        <%= render food %>
        <p>
          <%= link_to "Destroy this food", food_path(food.id), data: { confirm: 'Are you sure?', turbo_method: :delete } %>
        </p>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New food", new_food_path %>
